<div class="some-container">
  {{rotatable-image src="noah.jpg" alt="My image"}}
  {{rotatable-image src="noah2.jpg" alt="My image"}}
  {{rotatable-image src="noah3.jpg" alt="My image"}}
  {{rotatable-image src="noah4.jpg" alt="My image"}}
  {{rotatable-image src="noah5.jpg" alt="My image"}}
  {{rotatable-image src="noah6.jpg" alt="My image"}}
  {{rotatable-image src="tiny.jpg" alt="My image"}}
</div>

{{outlet}}
